{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% load crispy_forms_tags %}
{% endblock %}

{% block content %}
{% block container %}
<div class="container">
  <div class="row">
    <div>
      <p class="figly-form-heading">ADD CLIENT</p>
    </div>
  </div>
  <hr style=" margin: 0px 0px 36px 50px;" />
</div>

<div class="container figly-container-main">
  <div class="row">
    <div class="col-md-3 client-stepper">
      <div class="vl"></div>
      <div class="step step-active">
        <div>
          <div class="circle"></div>
        </div>
        <div>
          <div class="title">Personal details</div>
          <div class="caption"></div>
        </div>
      </div>
      <div class="vl"></div>
      <div class="step step-active">
        <div>
          <div class="circle"></div>
        </div>
        <div>
          <div class="title">Contact details</div>
        </div>
      </div>
      <div class="vl"></div>
      <div class="step step-active">
        <div>
          <div class="circle"></div>
        </div>
        <div>
          <div class="title">Employment details</div>
        </div>
      </div>
      <div class="vl"></div>
      <div class="step">
        <div>
          <div class="circle"></div>
        </div>
        <div>
          <div class="title">Financial details</div>
        </div>
      </div>
      <div class="vl"></div>
      <div class="step">
        <div>
          <div class="circle"></div>
        </div>
        <div>
          <div class="title">Products</div>
        </div>
      </div>
      <div class="vl"></div>
    </div>
    <div class="col-md-7">
      <div class="container">
        {% comment %} <p class="figly-heading figly-heading-h1 client-register-heading">CLIENT DETAILS</p>
        <hr /> {% endcomment %}
        <form action="" method="POST">{% csrf_token %}
          {{ wizard.management_form }}
          {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
          {% crispy form %}
          {% endfor %}
          {% else %}
          {% crispy wizard.form %}
          {% endif %}



<div class="form-row">
            {% if wizard.steps.prev %}
            <div class="col-md-5 figly-left-form-input form-group">
              <button name="wizard_goto_step" formnovalidate value="{{ wizard.steps.prev }}"
                class="btn figly-btn-secondary ">{% trans "Back" %}
              </button>
            </div>
            {% endif %}
            <div class="col-md-5 figly-right-form-input form-group">
              <button type="submit" class="btn figly-btn-wizard-next ">{% trans "Continue" %}
              </button>
            </div>
          </div>




          {% comment %} <div class="figly-form-nav">
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" formnovalidate value="{{ wizard.steps.prev }}"
              class="btn figly-btn-secondary offset-md-1">{% trans "Back" %}</button>
            {% endif %}
            <button type="submit"
              class="btn figly-btn-wizard-next col-xs-offset-right-2">{% trans "Continue" %}</button>
          </div> {% endcomment %}
        </form>
      </div>
       <div class="container">
         <hr class="figly-form-hr" />
          <div class="text-align-center">
          <a class="form-cancel" href="/">Cancel</a>
          </div>
      </div>
    </div>
  </div>
</div>

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}
{% endblock %}
{% endblock %}
