{% load i18n %}

{% block content %}
{% block container %}
{% if clients %}

<div class="table_detail_rows">
    <table class="table sortable-table">
     <thead>
        <tr>
            <th scope="col" class="sort_list_alphabetically"> Name                
            </th>
            <th scope="col" class="sort_list_alphabetically">Email 
            </th>
            <th scope="col">Cellphone             
            </th>
            <th scope="col" class="sort_list_alphabetically">Location 
            </th>
            <th scope="col">Last Contact
            </th>
            <th scope="col">Status 
            </th>            
        </tr>
      </thead>
        {% load client_status %}
        {% for client in clients %}

            <tr class="client-data-body" scope="row" data-href="{% url 'clients:client-summary' pk=client.id %}">

                <td><a href="{% url 'clients:client-summary' pk=client.id %}">{{ client.names }} {{ client.surnames }}</a>
                </td>
                <td><a href="{% url 'clients:client-summary' pk=client.id %}">{{ client.client_contact_fk.email_address }}</a>
                </td>              
                <td><a href="{% url 'clients:client-summary' pk=client.id %}">{{ client.client_contact_fk.cellphone_number }}</a>
                </td>
                <td><a href="{% url 'clients:client-summary' pk=client.id %}">{{ client.client_contact_fk.residential_city }}</a>
                </td>
                <td><input class="datepicker last-contact-date-input" date-format='yyyy-mm-dd'  id={{client.client_comms_fk.id}} value = "{{ client.client_comms_fk.last_contacted }}">
                    <button class="last-contact-update-btn" onclick="updateComms(this)" role="button" data-id={{client.client_comms_fk.id}}>
                        <i class="fa fa-refresh update-last-contact" aria-hidden="true">
                            <span>UPDATE</span>
                        </i>
                    </button>
                </td>             
                <td><a class={% client_status client.client_comms_fk.last_contacted %}  href="{% url 'clients:client-summary' pk=client.id %}">{% client_status client.client_comms_fk.last_contacted %}</a>
                </td>
                {% if user.is_superuser %}
                <td>{{ client.advisor_id_fk.practise_id_fk}}</td>
                <td>{{ client.advisor_id_fk}}</td>
                {% endif %}
                {%if user.is_administrator %}
                <td>{{client.employment_date}}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>No Clients to Display</p>
{% endif %}
{% endblock %}
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
$(function(){
$('.input-group.date').datepicker({
    calendarWeeks: true,
    todayHighlight: true,
    autoclose: true
});  
});

</script>
  <script>
function updateComms(e){
    var client_comms_id = e.getAttribute('data-id');
    var dateValue = convertDate(new Date(document.getElementById(client_comms_id).value));
    $.ajax({
        type: 'POST',
        headers:{
        "X-CSRFToken": '{{ csrf_token }}'
        },
        url: "{% url 'clients:update-comms'%}",
        data: {'client_comms_id':client_comms_id, 'date_value': dateValue},
        success: function (response) {
            e.value = dateValue
        },
        error: function (response) {
        }
    });
}
function convertDate(date) {
  var yyyy = date.getFullYear().toString();
  var mm = (date.getMonth()+1).toString();
  var dd  = date.getDate().toString();

  var mmChars = mm.split('');
  var ddChars = dd.split('');

  return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
}
</script>
{% endblock %}
