{% load i18n %}

{% block content %}
{% block container %}
{% comment %} <h3>Client List</h3> {% endcomment %}
{% if clients %}
<div class="table_detail_rows">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                {% comment %} <th scope="col">Advisor</th> {% endcomment %}
                {% comment %} <th scope="col">Surname</th> {% endcomment %}

                {%if user.is_superuser %}
                <th scope="col">Email</th>
                {% endif %}
                {%if user.is_administrator %}
                <th scope="col">Advisor</th>
                {% endif %}
                <th scope="col">Email</th>
                <th scope="col">Location</th>
                <th scope="col">Dependants</th>
                <th scope="col">Last Visit</th>
            </tr>
        </thead>
        {% for client in clients %}
        <tbody>
            <tr scope="row" data-href="{% url 'clients:client-summary' pk=client.id %}">

                <td><a href="{% url 'clients:client-summary' pk=client.id %}">{{ client.names }}
                        {{ client.surnames }}</a>
                </td>
                {% comment %} <td>{{ client.advisor_id_fk}} </td> {% endcomment %}

                <td> <a href="{% url 'clients:client-summary' pk=client.id %}">{{ client.client_contact_fk.email_address }}
                    </a></td>
                </td>
                <td> <a href="{% url 'clients:client-summary' pk=client.id %}">{{ client.client_contact_fk.residential_address_line_1 }}
                    </a></td>
                </td>
                <td> <a href="{% url 'clients:client-summary' pk=client.id %}">{{ client.client_employment_fk.employment_date }}
                    </a></td>
                </td>
                <td> <a href="{% url 'clients:client-summary' pk=client.id %}">Login date?Last clicked?
                    </a></td>
                </td>




                {% if user.is_superuser %}
                <td>{{ client.advisor_id_fk.practise_id_fk}}</td>
                <td>{{ client.advisor_id_fk}}</td>
                {% endif %}
                {%if user.is_administrator %}
                <td>{{client.employment_date}}</td>

                {% endif %}
            </tr>

        </tbody>

        {% endfor %}
    </table>
</div>
{% else %}
<p>No Clients to Display</p>

{% endif %}
{% endblock %}
{% endblock %}
