{% load i18n %}

{% block content %}
{% block container %}
<div class="card card-container shadow p-3 mb-5 bg-white">
    <div class="card-body">
  <h3>Client List</h3>
    {% if clients %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>

                {%if user.is_superuser %}
                <th scope="col">Practise</th>
                <th scope="col">Advisor</th>
                {% endif %}
                {%if user.is_administrator %}
                <th scope="col">Advisor</th>
                {% endif %}
                <th scope="col">Email</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        {% for client in clients %}
        <tbody>
            <tr scope="row">
                <td><a href="{% url 'clients:client-summary' pk=client.id %}">{{ client.names }}</a></td>
                <td>{{ client.surnames }}</td>
                {% if user.is_superuser %}
                <td>{{ client.advisor_id_fk.practise_id_fk}}</td>
                <td>{{ client.advisor_id_fk}}</td>
                {% endif %}
                {%if user.is_administrator %}
                <td>{{ client.advisor_id_fk}}</td>
                {% endif %}
                <td>{{ client.client_contact_fk.email_address }}</td>
                <td></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <p>No Clients to Display</p>
</div>
</div>
  {% endif %}
{% endblock %}
{% endblock %}
