{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% block container %}
{% if client %}

<div class="container">
    <div class="row">
        <div>
            <p class="figly-form-heading">CLIENT DETAILS</p>
        </div>
    </div>
    <hr style=" margin: 0px 50px 36px 50px;" />
</div>

<div class="container" style="font-size: larger;">
    <div class="container">
        <div class="row dashboard_list_details">
            <div class="card-container col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <h5 class="figly-h5 figly-bold summary-datail-row">PERSONAL INFORMATION</h5>
                    </div>
                    <div class="col-lg-3">
                        <a href="{% url 'clients:edit-client-details' pk=client.client_contact_fk.id %}">
                        <i class="fa fa-pencil fa-sm edit-client-icon " aria-hidden="true"></i></a>
                    </div>
               </div>
                    <div class="col-md-6 col-sm-6">
                    </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>Advisor</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Client name</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>RSA ID number</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Passport number</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>{{ user.get_full_name}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.title}} {{client.names}} {{client.surnames}} </p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.sa_id}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.passport_no}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                {% load client_status %}

        <div class="row">
            <div class="card-container col-lg-12">
             <div class="row">
                 <div class="col-lg-3">
                     <h5 class="figly-h5 figly-bold summary-datail-row">COMMUNICATION DETAILS</h5>
                 </div>
                 <div class="col-lg-3">
                     <a href="{% url 'clients:edit-client-communication-frequency' pk=client.client_contact_fk.id %}">
                     <i class="fa fa-pencil fa-sm edit-client-icon" aria-hidden="true"></i></a>
                 </div>
             </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>Last Contact</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Contact Frequency</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Status</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p> {{ client.client_comms_fk.last_contacted}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>TBC</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{% client_status client.client_comms_fk.last_contacted %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-container col-lg-12">
             <div class="row">
                 <div class="col-lg-3">
                     <h5 class="figly-h5 figly-bold summary-datail-row">CONTACT DETAILS</h5>
                 </div>
                 <div class="col-lg-3">
                     <a href="{% url 'clients:edit-client-contact' pk=client.client_contact_fk.id %}">
                     <i class="fa fa-pencil fa-sm edit-client-icon" aria-hidden="true"></i></a>
                 </div>
             </div>
             <div class="row">
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>Home Telephone Number</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Work Telephone Number</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Fax Number</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Email Address</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Residential Address</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Postal Address</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>{{client.client_contact_fk.telephone_home}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_contact_fk.telephone_work}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_contact_fk.fax_number}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_contact_fk.email_address}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_contact_fk.residential_address_line_1}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_contact_fk.postal_address_line_1}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-container col-lg-12">
                <div class="row">
                 <div class="col-lg-3">
                     <h5 class="figly-h5 figly-bold summary-datail-row">EMPLOYMENT DETAILS</h5>
                 </div>
                 <div class="col-lg-3">
                     <a href="{% url 'clients:edit-client-employment' pk=client.client_contact_fk.id %}">
                     <i class="fa fa-pencil fa-sm edit-client-icon" aria-hidden="true"></i></a>
                 </div>
             </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>Company Name</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Occupation</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Personnel Number</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Employment Date</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Medical Aid</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Retirement Fund Value</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Group Life Cover</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>{{client.client_employment_fk.company_name}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_employment_fk.occupation}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_employment_fk.personnel_number}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_employment_fk.employment_date}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_employment_fk.medical_aid}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_employment_fk.retirement_fund_current_value}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_employment_fk.group_life_cover}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-container col-lg-12">
                 <div class="row">
                 <div class="col-lg-3">
                     <h5 class="figly-h5 figly-bold summary-datail-row">FINANCIAL DETAILS</h5>
                 </div>
                 <div class="col-lg-3">
                     <a href="{% url 'clients:edit-client-rates' pk=client.client_contact_fk.id %}">
                     <i class="fa fa-pencil fa-sm edit-client-icon" aria-hidden="true"></i></a>
                 </div>
             </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>Inflation</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Interest</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Return Rate</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>{{client.client_rates_fk.inflation}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_rates_fk.interest}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{client.client_rates_fk.return_rate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row dashboard_list_details">
            <div class="card-container col-lg-12">
                <div class="row">
                        <div class="col-lg-3">
                            <h5 class="figly-h5 figly-bold summary-datail-row">PRODUCT DETAILS</h5>
                        </div>
                </div>
                   <div class="col-md-6 col-sm-6">
                </div>
                <div class="row">
                <div class="col-lg-3">
                    {% for product in products %}
                        <div class="summary-datail-row">
                            <p>{{product.product_name}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>


        {% if client.ProductClient.count > 0%}

        <div class="row">
             <div class="card-container col-lg-12">
                <div class="row">
                 <div class="col-lg-3">
                     <h5 class="figly-h5 figly-bold summary-datail-row">PRODUCT DETAILS</h5>
                 </div>
                 <div class="col-lg-3">
                     {% comment %} <a href="{% url 'clients:edit-client-dependent' pk=dependent.id %}">
                     <i class="fa fa-pencil fa-sm edit-client-icon" aria-hidden="true"></i></a>  {% endcomment %}
                 </div>
             </div>
            {% for dependent in client.dependents.all %}

            <div class="row">
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>Full Name</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>ID Number</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>South African Resident</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Date of Birth</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>Relationship</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="summary-datail-row">
                            <p>{{dependent.names}} {{dependent.surnames}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{dependent.id_no}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{dependent.rsa_resident}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{dependent.date_of_birth}}</p>
                        </div>
                        <div class="summary-datail-row">
                            <p>{{dependent.relationship}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}


    </div>
</div>

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}
{% endif %}
{% endblock %}
{% endblock %}
