{% extends "base.html" %}
{% load i18n %}

{% block head %}
{% load crispy_forms_tags %}
{% endblock %}

{% block content %}
{% block container %}
<div class="container">
  <div class="row">
    <div>
      <p class="figly-form-heading">EDIT DETAILS</p>
    </div>
  </div>
  <hr style=" margin: 0px 0px 36px 50px;" />
</div>

<div class="container figly-container-main">
<div class="row">
 <div class="container edit-client-container col-md-6">
        <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-row">
            <div class="col-md-5 figly-left-form-input ">
                <button type="submit" name="cancel" 
                        class="btn figly-btn-secondary ">Cancel
                </button>
            </div>

            <div class="col-md-5 figly-right-form-input ">
                <button type="submit" name="submit" class="btn figly-btn-wizard-next ">Save Changes
                </button>
            </div>
        </div>
       {% comment %} <div class="col-md-5 figly-right-form-input form-group">

        <button type="submit" name="submit" class="btn figly-btn-wizard-next ">Save Changes</button>
        <button type="submit" name="cancel" class="btn figly-btn-secondary ">Cancel</button>

        </div> {% endcomment %}
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
   
</div>

{% endblock %}
{% endblock %}
