{% load i18n %}

{% block content %}
{% block container %}
{% if advisors %}
<div class="table_detail_rows">
    <table class="table sortable-table">
        <thead>
            <tr>
                <th scope="col" class="sort_list_alphabetically">Name</th>
                <th scope="col" class="sort_list_alphabetically">Email</th>
                <th scope="col" class="sort_list_alphabetically">Location</th>
                <th scope="col" class="numeric-sort">Employment Date</th>
                <th scope="col" class="numeric-sort">Clients</th>
            </tr>
        </thead>
        {% for advisor in advisors  %}
            <tr scope="row">
                <td><a href="{% url 'practises:advisor-summary' pk=advisor.user_id %}">{{ advisor.names }} {{ advisor.surnames }}</a>
                </td>
                <td><a href="{% url 'practises:advisor-summary' pk=advisor.user_id %}">{{ advisor.advisor_contact_fk.email_address }}</a>
                </td>
                <td><a href="{% url 'practises:advisor-summary' pk=advisor.user_id %}">{{ advisor.advisor_contact_fk.residential_city}}</a>
                </td>
                <td><a href="{% url 'practises:advisor-summary' pk=advisor.user_id %}">{{ advisor.advisor_employment_fk.employment_date }}</a>
                </td>
                <td><a href="{% url 'practises:edit-advisor-roles' pk=advisor.user.id %}">{{advisor.clients.count}}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<p>No Advisors to Display</p>

{% endif %}
{% endblock %}
{% endblock %}
