{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% block container %}
<div class="container">
  <h1>Advisor List</h1>
    {% if advisors %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">ID Number</th>
                <th scope="col">Tel Home</th>
                <th scope="col">Cellphone</th>

            </tr>   
        </thead>    
        {% for advisor in advisors %}
        <tbody>
            <tr scope="row">
                <td><a href="{% url 'practises:advisor-summary' pk=advisor.user_id %}">{{ advisor.names }}</a></td>
                <td>{{ advisor.surnames }}</td>
                <td>{{ advisor.advisor_contact_fk.email_address }}</td>
                <td>{{ advisor.sa_id}}</td>
                <td>{{ advisor.advisor_contact_fk.telephone_home }}</td>
                <td>{{ advisor.advisor_contact_fk.cellphone_number }}</td>

            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <p>No Advisors to Display</p>
</div>
  {% endif %}       
{% endblock %}
{% endblock %}