__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
*
!newrelic.ini
!gunicorn_config.py
!requirements.txt
!src
!requirements
!Dockerfile
!configs
!scripts
