<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load thumbnail %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">

    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this site -->
    {% block styles %}
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    {% endblock styles %}

    <!-- Custom tags for the head tag -->
    {% block extrahead %}{% endblock extrahead %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{% include "_brandname.html" %}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></li>

          <!--<li><a href="#">Link</a></li>-->

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>-->
      </ul>
      <!--<form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      {% block navbar-right %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle profile-menu" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{% thumbnail user.profile.picture|default:'default_profile.png' 30x30 crop %}" alt="" class = "img-circle"/>
            {{ user.get_full_name|truncatechars:20 }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'profiles:show_self' %}">Profile</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            <!--<li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>-->
          </ul>
        </li>
        {% endif %}
      </ul>
      {% endblock %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endblock navbar %}

{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="container-fluid">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-{{ message.tags }}">  <!-- singular -->
          <a class="close" data-dismiss="alert">×</a>
          {{ message|safe }}
        </div>
      </div>
  </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}

{% block splash %}
{% endblock splash %}

{% block container %}
<div class="container">
    <div class="starter-template">
        <h1>New Project</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
            mostly barebones HTML document.</p>
    </div>

</div><!-- /.container -->
{% endblock container %}

<!-- Site footer -->
{% block footer %}
<!-- Some social button for contact will do -->
<a id="contact"></a>
<div class="container">
    <div class="footer">
        <div class="row">
            <div class="col-lg-6">
                <p>&copy; Company {% now 'Y' %}</p>
            </div>
            <div class="col-lg-6 text-right">
                Connect with us on
                <a href="#"><i class="fa fa-facebook"></i> Facebook</a> or
                <a href="#"><i class="fa fa-twitter"></i> Twitter</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>
