<!-- Some social button for contact will do -->

<div id="footer" class="figly-footer">
    <div class="container footer-container">
            <div class="row">
                <div class="col-md-3">
                    <p class="footer-main-heading">GET IN TOUCH</p>
                    <p class="footer-sub-heading">Email Support</p>
                    <p class="footer-text">help@figly.io</p>
                    <p class="footer-sub-heading">WhatsApp support </p>
                    <p class="footer-text">+27840000000</p>
                </div>
                <div class="col-md-3">
                    <p class="footer-main-heading">SHARE</p>
                    <i class="fab fa-instagram-square footer-text"></i>
                    <i class="fab fa-facebook-square footer-text"></i>
                    <i class="fab fa-twitter footer-text"></i>
                </div>
                <div class="col-md-3 offset-md-9">
                    <p class="footer-sub-heading">© 2020 All Rights Reserved. FIGLY</p>
                </div>
            </div>
    </div>
</div>
