{% load client_comms %}

{%client_comms id=user.id%}

<div class="row">
    <a href="{% url 'clients:add-client' %}">
        <div class="col-md-6 col-sm-6">
            <div class="container">
                <h2>Add Client</h2>
            </div>
        </div>
    </a>
</div>
<div class="row">
    <a href="{% url 'clients:clients-list' %}">
        <div class="col-md-6 col-sm-6">
            <div class="container">
                <h2>View Clients</h2>
            </div>
        </div>
    </a>
</div>
<div class="row">
    <a href="{% url 'clients:add-client-dependents' %}">
        <div class="col-md-6 col-sm-6">
            <div class="container">
                <h2>Add Client Dependents</h2>
            </div>
        </div>
    </a>
</div>
<div class="row">
    <a href="{% url 'practises:edit-advisor-reminder-config' pk=user.Advisor.reminder_config_freq_fk.id%}">
        <div class="col-md-6 col-sm-6">
            <div class="container">
                <h2>Edit reminder default settings</h2>
            </div>
        </div>
    </a>
</div>
<div class="row">
    <a href="{% url 'calculator:show-calculator' %}">
        <div class="col-md-6 col-sm-6">
            <div class="container">
                <h2>View Calculators</h2>
            </div>
        </div>
    </a>
</div>
