{% load thumbnail %}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="card align-center card-container" style="width: 18rem;">
            <img class="card-img-top home-image" src="{% thumbnail user.profile.picture|default:'default_profile.png' 30x30 crop %}"  alt="Card image cap">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </div>
        <p class="figly-heading figly-heading margin-left-20">Welcome home,  {{ user.get_full_name}}</p>
    </div>
</div>
